body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-color: #000; /* Define o fundo como preto */
  color: #fff; /* Define a cor do texto como branca */
  margin: 0; /* Remove margens padrão do corpo */
  padding: 0; /* Remove preenchimento padrão do corpo */
}

#quiz-container {
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #fff; /* Cor da borda branca */
  border-radius: 10px;
  background-color: #333; /* Cor de fundo mais escura */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Sombra mais clara */
  max-width: 400px; /* Largura máxima do contêiner do quiz */
  box-sizing: border-box; /* Adiciona a borda à largura total */
  overflow: hidden; /* Oculta qualquer conteúdo que ultrapasse a borda */
}

.btn-question {
  background-color: #3498db; /* Azul */
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 5px #2980b9; /* Sombra azul */
  margin-bottom: 1em;
}

.btn-question:hover {
  background-color: #58cc02; /* Verde quando passa o mouse */
  box-shadow: 0 5px #58a700; /* Sombra verde ao passar o mouse */
}

.btn-question:active {
  box-shadow: none;
  transform: translateY(5px);
}


.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#question-container img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  max-height: 400px;
}

#quiz-container {
  display: none;
}

#question-container img {
  max-width: 100%;
  max-height: 500px; /* Ajuste conforme necessário */
  height: auto;
  display: block;
  margin: 20px auto; /* Adicionada margem para separar a imagem do conteúdo ao redor */
  border: 2px solid #fff; /* Adicionada borda branca à imagem */
  border-radius: 5px;
}

#menu-container img {
  max-width: 100%;
  max-height: 300px; /* Ajuste conforme necessário */
}