body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-color: #000; /* Define o fundo como preto */
  color: #fff; /* Define a cor do texto como branca */
  margin: 0; /* Remove margens padrão do corpo */
  padding: 0; /* Remove preenchimento padrão do corpo */
}

#quiz-container {
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #fff; /* Cor da borda branca */
  border-radius: 10px;
  background-color: #333; /* Cor de fundo mais escura */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Sombra mais clara */
  max-width: 400px; /* Largura máxima do contêiner do quiz */
  box-sizing: border-box; /* Adiciona a borda à largura total */
  overflow: hidden; /* Oculta qualquer conteúdo que ultrapasse a borda */
  height: 100%;
}

.btn-question {
  background-color: #DCDCDC; /* Verde quando passa o mouse */
  box-shadow: 0 5px #dcdcdcde; /* Sombra verde ao passar o mouse */
  color: black;
  border: none;
  font-weight: bolder;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-bottom: 1em;
}

.btn-reiniciar{
  background-color: orange; /* Verde quando passa o mouse */
  box-shadow: 0 5px orange; /* Sombra verde ao passar o mouse */
}

.btn-selecionado {
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-weight: bolder;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  background-color: #58cc02; /* Verde quando passa o mouse */
  box-shadow: 0 5px #58a700; /* Sombra verde ao passar o mouse */
  margin-bottom: 1em;
}

.btn-selecionado:active {
  box-shadow: none;
  transform: translateY(5px);
}

.btn-confirmar{
  margin-top: 2em;
  color: black;
  font-weight: bolder;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  background-color: #58cc02; /* Verde quando passa o mouse */
  box-shadow: 0 5px #58a700; /* Sombra verde ao passar o mouse */
  margin-bottom: 1em;
}

.btn-continue{
  color: black;
  font-weight: bolder;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  background-color: blue; /* Verde quando passa o mouse */
  box-shadow: 0 5px blue; /* Sombra verde ao passar o mouse */
  margin-bottom: 1em;
}

.resposta-correta {
  background-color: #58cc02; /* Verde quando passa o mouse */
  box-shadow: 0 5px #58a700; /* Sombra verde ao passar o mouse */
}

.resposta-incorreta {
  background-color: red; /* Verde quando passa o mouse */
  box-shadow: 0 5px gray; /* Sombra verde ao passar o mouse */
}


.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#quiz-container {
  display: none;
}

#question-container img {
  max-width: 100%;
  max-height: 500px; /* Ajuste conforme necessário */
  height: 320px;
  display: block;
  margin: 20px auto; /* Adicionada margem para separar a imagem do conteúdo ao redor */
  border: 2px solid #fff; /* Adicionada borda branca à imagem */
  border-radius: 5px;
}

#menu-container img {
  max-width: 100%;
  max-height: 300px; /* Ajuste conforme necessário */
}

.message-container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
}

.error-message {
    color: #f44336;
}

.success-message {
    color: #28a745;
}

.message-container img {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}

.span-option{
  color: white;
}

#quiz-container {
  margin: 5% auto;
  padding: 5%;
  max-width: 90%; /* em vez de 400px */
}

#question-container img {
  max-height: 50vh; /* em vez de 500px */
}

#menu-container img {
  max-height: 30vh; /* em vez de 300px */
}

@media screen and (max-width: 600px) {
  #quiz-container {
     max-width: 100%;
  }

  #question-container img {
     max-height: 40vh;
  }

  #menu-container img {
     max-height: 20vh;
  }
}
